body {
  background: rgb(143, 143, 143);
  margin: 1rem;
  padding: 1rem;
  width: fit-content;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
}

nav {
	border-bottom: 2px solid whitesmoke;
}

#homeBtn {
	max-width: 25px;
}

a {
    text-decoration: none;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a:visited {
	color:white;
}

img {
	max-width: 300px;
}

#contact {
	display: grid;
	text-align: center;
}

.submitBtn {
	width: fit-content;
	background-color: rgb(214, 214, 45);
	color: white;
	border-color: white;
	margin-left: 230px;
}

.checkMark {
	display: inline;
}

#githubBtn {
	max-width: 85px;
}

#linkedInBtn {
	max-width: 50px;
}

ol {
	list-style-type: none;
	}

li {
	list-style: none;
}

input {
	display: block;
	text-align: center;
}

.favBtn {
	width: 20vh;
	height: 10vh;
	margin: 20px;
	background-color: rgb(214, 214, 45);
	color: white;
	border-color: white;
}

#footer {
	height: 10vh;
}