body {
  background: rgb(177, 177, 177);
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

nav {
	border-bottom: 2px solid rgb(41, 41, 41);
}

#homeBtn {
	max-width: 25px;
}

a {
    text-decoration: none;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a:visited {
	color: rgb(40, 40, 40);
}

img {
	max-width: 300px;
}

#contact {
	display: inline-table;
}

button {
	font-size: 18px;
	background-color: yellow;
}

#githubBtn {
	max-width: 85px;
}

#linkedInBtn {
	max-width: 50px;
}

ol {
	list-style-type: none;
	}

input {
	display: block;
	text-align: center;
}


#footer {
	height: 10vh;
}